.gallery-container {
  background-color: rgb(228, 245, 236);
  padding: 2rem;
  text-align: center;
  max-width: 1500px;
  position: relative;
  margin-bottom: 3rem;
  margin-top: -7rem;
}

.gallery-heading {
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: 500;
  text-align: center;
}

.splide__slide {
  transition: transform 0.4s ease;
  border-radius: 20px;
  overflow: hidden;
}

.gallery-image {
  width: 315px;
  height: 321px;
  border-radius: 15px;
}

.splide__slide.is-active {
  transform: scale(1.2);
  z-index: 10;
}

.splide-container {
  margin: 2rem auto;
  max-width: 1200px;
  position: relative;
  padding: 2rem 0; 
}

.custom-splide .splide__arrow {
  top: 50%;
  transform: translateY(-50%);
  background: #d9d9d9;
  border-radius: 50%;
  z-index: 10;
  width: 2.5rem;
  height: 2.5rem;
}

.splide__arrow svg{
    background-color: #d9d9d9;
}

.custom-splide .splide__arrow::before {
  content: none !important;
  display: inline-block;
  border: solid #000;
  border-width: 0 2px 2px 0;
  padding: 5px;
  transform: rotate(135deg);
}

.custom-splide .splide__arrow--next::before {
  transform: rotate(-45deg);
}

.custom-splide .splide__arrow--prev {
  left: -4rem;
}

.custom-splide .splide__arrow--next {
  right: -2rem;
}

.custom-splide .splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.custom-splide .splide__list {
  display: flex;
  align-items: center; 
  height: 100%;
}
